[Desktop Entry]
Name=Life
Encoding=UTF-8
Version=1.0
Comment=Game of Life
Exec=/opt/drakmord/life/RUN
Icon=/opt/drakmord/life/assets/images/icon.png
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
Comment[pt_BR]=Game of Life
Name[pt_BR]=Life